body {	
	width:100%;
	PADDING-BOTTOM: 0px; 
	
	margin-top:0%;
	margin-left:0%; 
	margin-right:0%;
	margin-bottom:0%;
	
	PADDING-LEFT: 0%; 
	PADDING-RIGHT: 0%;
	FONT-SIZE: .80em;
	PADDING-TOP: 0%;
	font-family:Arial;
	background-image: url('images/bg.jpg');
	height:100%;
	
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-FACE-COLOR: #009933; 
	SCROLLBAR-3DLIGHT-COLOR: #83d4fa; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #83d4fa; 
	SCROLLBAR-BASE-COLOR: #83d4fa; 
}
form {	
    width:100%;
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px;
	height:100%;
}
.table
{
    border: 1px solid #006633; 
    width: 80%; 
    background-color:#ffffff;
 }
.hand{BACKGROUND-REPEAT: no-repeat; background-image: url('images/bg_hand_img.gif');}
.buttons {
	border: 1px solid #0a3c72;
	TEXT-ALIGN: center; 
	cursor:hand;	
	BACKGROUND-COLOR: #009933;/*#248cbe; 	*/
	FONT-FAMILY: verdana; 	
	COLOR: #ffffff; 	
	FONT-SIZE: 11px; 	
	VERTICAL-ALIGN: top; 	
	FONT-WEIGHT: bold; 	
	TEXT-DECORATION: none;
	width: 37px;
	height: 19px;
}
.logintxt {
	POSITION: relative; FONT-FAMILY: verdana; HEIGHT: 16px; 
COLOR: #006633; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.inputlogin {
	border: 1px solid #006633;
	TEXT-ALIGN: left; 	
	BACKGROUND-POSITION: left center; 
	HEIGHT: 17px; 
	COLOR: #009933;	
	FONT-WEIGHT: bold;	
	width: 230px;
}
.lbl
{
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #ffffff;  
    COLOR: #006633; 
    FONT-SIZE: 7pt;
    font-family:verdana ;
    font-weight:bold;
    
    }
.ddl 
{
  border: 1px solid #006633;
	padding: 2px 5px;
	TEXT-ALIGN: left; 	
	BACKGROUND-POSITION: left center; 	
	COLOR: #009933; 	
	FONT-SIZE: 7pt; 	
	FONT-WEIGHT: bold; 	
	margin-right: 24px;
}  
.txtBox {
	border: 1px solid #006633;
	COLOR: #009933;
	padding: 2px 2px;
	TEXT-ALIGN: left; 	
	BACKGROUND-POSITION: left center; 	
	HEIGHT: 13px;	
	FONT-SIZE: 7pt; 	
	FONT-WEIGHT: bold; 	
	font-family:verdana;
	margin-left: 0px;
}
.rdgrow {border: 1px solid #006633;
  TEXT-ALIGN: left;BACKGROUND-COLOR: #ffffff;  COLOR: #006633; FONT-SIZE: .90em;font-family:verdana ;font-weight:bold;
}
.rdgrow1 {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #ffffff;  COLOR: #006633; FONT-SIZE: .90em ;font-family:verdana ; font-weight:bold;
}
.star
{
	color :Red;
	
}
.rdgdropdown {
	border: 1px solid #006633;
	padding: 2px 5px;
	TEXT-ALIGN: left; 	
	BACKGROUND-POSITION: left center; 	
	COLOR: #009933; 	
	FONT-SIZE: 7pt; 	
	FONT-WEIGHT: bold; 	
	margin-right: 24px;
}
.header {
	TEXT-ALIGN: center; 	
	FONT-FAMILY: Arial,verdana; 
	WHITE-SPACE: nowrap; 
	COLOR:White ; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold; 
	TEXT-DECORATION: none;
	background: #006633 url('images/grd_head.gif') repeat-x top;
	padding: 2px 2px;
}
.Subheader {
	background-color: #009933;
	 color: #FFFFFF; 
	 font-weight:bold;
	  font-style: italic;
	  
}
 .clmn_pdd
		{
			padding-left:5px; 
		}	
a:link { 
color:#006633; 
}
a:visited { 
color: #0A3C72;
}
a:active { 
color: #006633;
}
a:hover { 
color: #009933; 
}	

.lnk:link { 
color:#fff;
text-decoration:none;
}
.lnk:visited { 
color: #0A3C72;
}
.lnk:active { 
color: #006633;
}
.lnk:hover { 
color: red;
}	

.marquee {
	BORDER-BOTTOM: #009933 1px solid; BORDER-LEFT: #009933 1px solid; BACKGROUND-COLOR: #ffffff; COLOR: #006633; FONT-SIZE: 11px; BORDER-TOP: #009933 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #009933 1px solid
}
.Subheader {
	background-color: #009933;
	 color: #FFFFFF; 
	 font-weight:bold;
	  font-style: italic;
	  
}
/*-----Grid CSS------*/
mGrid { width: 100%; background-color: #fff; margin: 2px 0 1px 0; border: solid 1px #525252;font:verdana; border-collapse:collapse;text-align:left;font-size: 0.9em; }
    .mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: black; font:verdana; font-size: 0.9em;text-align:left }
    .mGrid th { padding: 2px 2px; color: #fff; background: #006633 url('images/grd_head.gif') repeat-x top;font:verdana; border-left: solid 1px #525252; font-size: 0.9em; text-align:left}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top;color:Gray;font:verdana;font-size: 0.9em;text-align:left  }
.mGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; font:verdana;}
    .mGrid .pgr table { margin: 2px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 2px; border-left: solid 1px #666; font-weight: bold;text-align:left; color: #fff; line-height: 12px;text-align:left }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
    /*-----------------------*/
/*-------------ASMCSS---------------*/
.asmMenu 
{
	position: absolute;	
	z-index: 5;
	 text-align:left;
	border: 1px solid lightblue;
	background: #ffffff;
	 padding-left:1px;
	 padding-top:0px;
	 padding-bottom:3px;
 	white-space: nowrap; 
 	overflow:visible; 
}
	
				
.asmMenuItem, .asmSelMenuItem
{			
	color: blue;
	background: #ffffff;
	cursor: hand;
	cursor: pointer;
	
	font-family: Arial, Verdana, helvetica, 'sans serif';
	font-size: 9pt;
}


.asmSelMenuItem
{			
	background: lightblue;
	white-space: nowrap;
}
/*--------------------------*/


 .fieldset
 {
      border:solid .02em #133f61; 
      height:100%;
 }
 
 .legend
 { 
     font-family:Arial;
     font-size:5pt;
     font-weight:normal;
     color:#3C7BFF;
 }

.spanTxt
{ font-family:Arial;
  font-size:5pt;
  color:Black;
  font-weight:normal;
    }
    
