

#slider{
	width:500px;
	top:50px;
	position:absolute;
}
   



#SliderPanel
{
    position: absolute;
    top: 30px;
    left: -25px;
    height: 93px;
}

#SliderPanel1
{
    position: absolute;
    top: 30px;
    left: -25px;
    height: 93px;
}





	





/*--------------------------------------
		Advertisement div
----------------------------------------*/
